[submodule "api"]
	path = api
	url = https://github.com/josh-gwaltney/imperium-api
[submodule "web"]
	path = web
	url = https://github.com/josh-gwaltney/imperium-web
[submodule "shared"]
	path = shared
	url = https://github.com/josh-gwaltney/imperium-shared
